.mce-content-body .atl {text-align:left}
.mce-content-body .atc {text-align:center}
.mce-content-body .atr {text-align:right}
.mce-content-body .atj {text-align:justify}
.mce-content-body .bob{background-color:#004075;}
.mce-content-body .boh{background-color:#008066;}
.mce-content-body .bom{background-color:#de4e61;}
.mce-content-body .boo{background-color:#ff7045;}
.mce-content-body .bou{background-color:#3e3d4d;}
.mce-content-body .bop{background-color:#8f0040;}
.mce-content-body img{margin-bottom:1em;max-width:60%}
.mce-content-body .bofw{top:0;margin-bottom:1rem;height:100%;padding:1rem;}
.mce-content-body .p{width:100%}
.mce-content-body {width:98%;font-size:18px;background:#ddd;color:#000000;font-weight:400;}